@model IEnumerable<LojaInterativa.Models.Fabricante>

@{
    ViewData["Title"] = "Categorias";
}
<div class="col-10 justify-content-between align-items-lg-center d-flex">
    <h1>Categorias</h1>


    <a asp-action="Create" class="btn btn-outline-primary"><img src="./image 4.svg"> Adicionar Categoria</a>
     
</div>
<table class="table" id="table-categorias">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id"><img src="./editar.svg" /></a>

                    <a asp-action="Delete" class=" btn btn-danger" asp-route-id="@item.Id"><img src="./Close (1).svg" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
